<p-table [responsive]="true" [value]="lancamentos" [paginator]="true" [rows]="2">
  <ng-template pTemplate="header">
    <tr>
      <th>Pessoa</th>
      <th>Descrição</th>
      <th class="col-data">Vencimento</th>
      <th class="col-data">Pagamento</th>
      <th class="col-valor">Valor</th>
      <th class="col-acao"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lancamentos>
    <tr>
      <td>
        <span class="ui-column-title">Pessoa</span>
        {{lancamentos.pessoa}}
      </td>
      <td>
        <span class="ui-column-title">Descrição</span>
        {{lancamentos.descricao}}
      </td>
      <td class="col-data-field">
        <span class="ui-column-title">Vencimento</span>
        {{lancamentos.dataVencimento | date:'dd/MM/y'}}
      </td>
      <td class="col-data-field">
        <span class="ui-column-title">Pagamento</span>
        {{lancamentos.dataPagamento | date:'dd/MM/y':'UTC-3':'pt'}}
      </td>
      <td [ngStyle]="{ color: lancamentos.tipo === 'DESPESA' ? 'red' : 'blue' }" class="col-valor-field">
        <span class="ui-column-title" style="color: #000 !important;">Valor</span>
        {{lancamentos.valor | currency:'BRL':'symbol':'1.2-2'}}
      </td>
      <td class="col-acao">
        <span class="ui-column-title"></span>
        <a class="btn-editar" pTooltip="Editar" tooltipPosition="top" pButton icon="fa fa-pencil"></a>
        <button class="btn-deletar" pTooltip="Excluir" tooltipPosition="top" pButton icon="fa fa-trash"></button>
      </td>
    </tr>
  </ng-template>
</p-table>