<div class="container" style="max-width: 400px; margin: auto">
    <form autocomplete="off" #f="ngForm">
        <div class="ui-g ui-fluid">

            <p-panel class="ui-panel">
                <p-header>
                    <span class="ui-panel-title">Login</span>
                </p-header>
                <input pInputText type="email" name="usuario" placeholder="E-mail" ngModel required #usuario> &nbsp;
                <input pInputText type="password" name="senha" placeholder="Senha" ngModel required #senha>
                <p-footer>
                    <button pButton type="submit" icon="pi pi-sign-in" label="Login" [disabled]="!f.valid" (click)="login(usuario.value, senha.value); senha.value ='';"></button>
                </p-footer>
            </p-panel>
        </div>
    </form>
</div>