<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="filtro.descricao" [(ngModel)]="descricao">
      </div>
      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [locale]="pt" name="filtro.dataVencimentoInicio"
          [(ngModel)]="dataVencimentoInicio" [inputStyle]="{ width:'95px' }"></p-calendar>

        <label>até</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [locale]="pt" name="filtro.dataVencimentoFim"
          [(ngModel)]="dataVencimentoFim" [inputStyle]="{ width:'95px' }"></p-calendar>

      </div>
      <div class="ui-g-12">
        <button label="Pesquisar" pButton type="submit" icon="fa fa-search"></button>
      </div>
    </form>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [responsive]="true" [value]="lancamentos" [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data">Vencimento</th>
            <th class="col-data">Pagamento</th>
            <th class="col-valor">Valor</th>
            <th class="col-acao"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamentos>
          <tr>
            <td>
              <span class="ui-column-title">Pessoa</span>
              {{lancamentos.pessoa}}
            </td>
            <td>
              <span class="ui-column-title">Descrição</span>
              {{lancamentos.descricao}}
            </td>
            <td class="col-data-field">
              <span class="ui-column-title">Vencimento</span>
              {{lancamentos.dataVencimento | date:'dd/MM/y'}}
            </td>
            <td class="col-data-field">
              <span class="ui-column-title">Pagamento</span>
              {{lancamentos.dataPagamento | date:'dd/MM/y'}}
            </td>
            <td [ngStyle]="{ color: lancamentos.tipo === 'DESPESA' ? 'red' : 'blue' }" class="col-valor-field">
              <span class="ui-column-title" style="color: #000 !important;">Valor</span>
              {{lancamentos.valor | currency:'BRL':'symbol':'1.2-2'}}
            </td>
            <td class="col-acao">
              <span class="ui-column-title"></span>
              <a class="btn-editar" pTooltip="Editar" tooltipPosition="top" pButton icon="fa fa-pencil"></a>
              <button class="btn-deletar" pTooltip="Excluir" tooltipPosition="top" pButton icon="fa fa-trash"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-lancamentos *ngIf="lancamentos.length==0">
          <span>Nenhum registro encontrado</span>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="ui-g-12">
    <a pButton label="Novo Lançamento" icon="pi pi-plus"></a>
  </div>
</div>