body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
}

label {
  font-weight: bold;
  color: #404c51;
}

@media(min-width:1200px ) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-valor {
  width: 120px;
}

.col-acao {
  width: 85px;
  text-align: center;
}

.col-valor-field {
  text-align: right;
}

.btn-deletar {
  margin-left: 5% !important;
  font-size: 12px !important;
}

.btn-editar {
  font-size: 12px !important;
}

.col-data {
  width: 120px;
}

.col-data-field {
  text-align: center;
}

a :hover {
  color: #fff;
}

.col-estado {
  width: 120px;
  text-align: center;
}

.col-ativo {
  width: 120px;
  text-align: center;
}

.link-status {
  color: #000;
}

.link-status:hover {
  color: #000;
  text-decoration: underline;
}